<footer class="site-footer">

<div class="container footer-container">

<div>
<h3>Lizimas & Talent Enterprise</h3>
<p>
Quality supermarket products and boutique items delivered conveniently.
</p>
</div>


<div>
<h4>Contact</h4>
<p>Mobile Money: +256792363104</p>
<p>Cash on Delivery Available</p>
</div>


<div>
<h4>Services</h4>
<p>Online Shopping</p>
<p>Mobile Payments</p>
<p>Delivery</p>
</div>


</div>


<div class="copyright">
© 2026 Lizimas & Talent Enterprise. All rights reserved.
</div>

</footer>
